<style>
  .rainbow {
  	animation: rainbow 3s ease-in-out infinite;
  }

  @keyframes rainbow {
  	0% {color: #f8be00; text-shadow: 0 0 8px rgba(248,190,  0,0.5);}
  	14% {color: #ff0000; text-shadow: 0 0 8px rgba(255,  0,  0,0.5);}
  	28% {color: #ff009a; text-shadow: 0 0 8px rgba(255,  0,154,0.5);}
  	42% {color: #0000fd; text-shadow: 0 0 8px rgba(  0,  0,253,0.5);}
  	57% {color: #00e7d6; text-shadow: 0 0 8px rgba(  0,231,214,0.5);}
  	71% {color: #b0e700; text-shadow: 0 0 8px rgba(176,231,  0,0.5);}
  	100% {color: #f8be00; text-shadow: 0 0 8px rgba(248,190,  0,0.5);}
  }
</style>

<span class="rainbow"><a href = "/teach/ryute/">알고리즘 과외 소개해 드립니다.</a></span>
