<script>
  function x_flip(){
    let body = document.getElementsByClassName('post-body')[0];
    if(!body) return;
    if(body.style.transform == "scaleX(-1)"){
      body.style.mozTransform = "";
      body.style.oTransform = "";
      body.style.webkitTransform = "";
      body.style.transform = "";
    }
    else{
      body.style.mozTransform = "scaleX(-1)";
      body.style.oTransform = "scaleX(-1)";
      body.style.webkitTransform = "scaleX(-1)";
      body.style.transform = "scaleX(-1)";
    }
  }
  function y_flip(){
    const postBody = document.querySelector('.post-body[itemprop="articleBody"]');

    if (postBody) {
      // Collect all child elements of the container
      const children = Array.from(postBody.children);

      // Reverse the order of the elements
      const reversedChildren = children.reverse();

      // Append the reversed elements back to the container
      reversedChildren.forEach(child => {
        postBody.appendChild(child);
      });
    }
  }
  function reverseBody(){
    const type = Math.floor(Math.random() * 2);
    if(type === 0) x_flip();
    else y_flip();
  }
</script>

<h1 id="0401" style="text-align: center" onclick="reverseBody()">Happy April Fool's Day! <U>(Click Here!)</U></h1>
