<ul id='profile-list'>
</ul>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    let ratings = {
        'codeforces': 0, 'mx_codeforces': 0,
        'BOJ': 0,
        'solved': 0, 'solved_ac_rating': 0, 'solved_ranking': 0,
        'atcoder': 0,
        'codeup': 0, 'codeup_ranking': 0
    };
    let handles = {
        'codeforces': '{{ include.codeforces_id | default: "None" }}',
        'BOJ': '{{ include.boj_id | default: "None" }}',
        'atcoder': '{{ include.atcoder_id | default: "None" }}',
        'codeup': '{{ include.codeup_id | default: "None" }}',
        'icpcid': '{{ include.icpcid | default: "None" }}',
        'cphof': '{{ include.cphof | default: "None" }}'
    };
    let profile_url_prefix = {
        'codeforces': 'https://codeforces.com/profile/',
        'BOJ': 'https://www.acmicpc.net/user/',
        'solved': 'https://solved.ac/profile/',
        'atcoder': 'https://atcoder.jp/users/',
        'codeup': 'https://codeup.kr/userinfo.php?user='
    };
    let color_palette = {
        'codeforces':[
            { color:'#808080', min:0,    max:1199 },
            { color:'#008000', min:1200, max:1399 },
            { color:'#03A89E', min:1400, max:1599 },
            { color:'#0000FF', min:1600, max:1899 },
            { color:'#AA00AA', min:1900, max:2099 },
            { color:'#FF8C00', min:2100, max:2399 },
            { color:'#FF0000', min:2400, max:2999 },
            { color:'NUTELLA', min:3000, max:9999 }
        ],
        'BOJ':[ { color:'#000000', min:0, max:99999 } ],
        'solved':[
            { color:'#000000', min:0, max:0 },
            { color:'#AD5600', min:1, max:5 },
            { color:'#3F5C78', min:6, max:10 },
            { color:'#F0AC2F', min:11, max:15 },
            { color:'#27E2A4', min:16, max:20 },
            { color:'#32C3FC', min:21, max:25 },
            { color:'#FF0062', min:26, max:30 },
            { color:'#b491ff', min:31, max:31 }
        ],
        'atcoder':[
            { color:'#808080', min:0,    max:399  },
            { color:'#804000', min:400,  max:799  },
            { color:'#008000', min:800,  max:1199 },
            { color:'#00C0C0', min:1200, max:1599 },
            { color:'#0000FF', min:1600, max:1999 },
            { color:'#C0C000', min:2000, max:2399 },
            { color:'#FF8000', min:2400, max:2799 },
            { color:'#FF0000', min:2800, max:9999 }
        ],
        'topcoder':[
            { color:'#999999', min:0,    max:899  },
            { color:'#00A900', min:900,  max:1199 },
            { color:'#6666FF', min:1200, max:1499 },
            { color:'#DDCC00', min:1500, max:2199 },
            { color:'#EE0000', min:2200, max:9999 }
        ],
        'codeup':[
            { color:'#808080', min:0,    max:49   },
            { color:'#000000', min:50,   max:99   },
            { color:'#8E8C01', min:100,  max:199  },
            { color:'#C6B207', min:200,  max:299  },
            { color:'#A7C607', min:300,  max:399  },
            { color:'#008000', min:400,  max:499  },
            { color:'#FF0000', min:500,  max:599  },
            { color:'#03A89E', min:600,  max:699  },
            { color:'#0000FF', min:700,  max:799  },
            { color:'#AA00AA', min:800,  max:899  },
            { color:'#FF8C00', min:900,  max:999  },
            { color:'#FF0000', min:1000, max:1099 },
            { color:'NUTELLA', min:1100, max:9999 },
        ]
    };
    const solved_tier_text = [
        "unranked",
        "Bronze 5",   "Bronze 4",   "Bronze 3",   "Bronze 2",   "Bronze 1",
        "Silver 5",   "Silver 4",   "Silver 3",   "Silver 2",   "Silver 1",
        "Gold 5",     "Gold 4",     "Gold 3",     "Gold 2",     "Gold 1",
        "Platinum 5", "Platinum 4", "Platinum 3", "Platinum 2", "Platinum 1",
        "Diamond 5",  "Diamond 4",  "Diamond 3",  "Diamond 2",  "Diamond 1",
        "Ruby 5",     "Ruby 4",     "Ruby 3",     "Ruby 2",     "Ruby 1",
        "Master"
    ];

    function setHtml(service) {
        let cf = document.getElementById(service);
        let color = '#000000';
        for(let i in color_palette[service]){
            let x = color_palette[service][i];
            if(x.min <= ratings[service] && ratings[service] <= x.max) color = x.color;
        }

        cf.href = profile_url_prefix[service] + handles[service];

        if(service === 'BOJ'){
            cf.innerHTML = `${handles[service]} (${ratings['BOJ']}문제)`;
        }
        else if(service === 'solved'){
            cf.innerHTML = `${handles[service]} (${ratings['solved_ac_rating']}, ${solved_tier_text[ratings[service]]}, ${ratings['solved_ranking']}등)`;
        }
        else if(service === 'mx_codeforces'){
            cf.innerHTML = `Max. ${ratings[service]}`;
        }
        else if(service === 'codeup'){
            cf.innerHTML = `${handles[service]} (${ratings['codeup']}문제, ${ratings['codeup_ranking']}등)`;
        }
        else{
            cf.innerHTML = `${handles[service]} (${ratings[service].toString()})`;
        }

        if(color === 'NUTELLA'){
            const txt = cf.innerText;
            cf.innerHTML = `<span style="color:black">${txt.substr(0,1)}</span><span style="color:red">${txt.substr(1)}</span>`;
        }
        else{
            cf.style.color = color;
        }

        setRainbow('BOJ');
    }

    function setRainbow(service) {
        let cf = document.getElementById(service);
        cf.innerHTML = '<span class="rainbow" style="animation: rainbow 3s ease-in-out infinite;font-size: 16px">' + cf.innerHTML + '</span>';
    }

    function setHtmlWithoutColor(service) {
        let cf = document.getElementById(service);
        cf.style.color = 'black';
        cf.href = profile_url_prefix[service] + handles[service];
        cf.innerHTML = handles[service];
    }

    function getCodeforcesRating() {
        handles['mx_codeforces'] = handles['codeforces'];
        profile_url_prefix['mx_codeforces'] = profile_url_prefix['codeforces'];
        color_palette['mx_codeforces'] = color_palette['codeforces'];

        $.ajax({
            type: 'GET',
            url: 'https://codeforces.com/api/user.info?handles='+handles['codeforces'],
            dataType: 'json',
            timeout: 10000,
            cache: false,
            success: function(json) {
                if(json['status'] === 'OK') {
                    ratings['codeforces'] = json['result'][0]['rating'];
                    ratings['mx_codeforces'] = json['result'][0]['maxRating'];
                    setHtml('codeforces');
                    setHtml('mx_codeforces');
                }
                else {
                    setHtmlWithoutColor('codeforces');
                    setHtmlWithoutColor('mx_codeforces');
                }
            },
            error: function() {
                setHtmlWithoutColor('codeforces');
                setHtmlWithoutColor('mx_codeforces');
            }
        });
    }

    function getBOJInfo() {
        $.ajax({
            type: 'GET',
            url: 'https://proxy.jeoungh-nah.workers.dev/https://solved.ac/api/v3/search/problem?query=solved_by:'+handles['BOJ'],
            dataType: 'json',
            timeout: 10000,
            cache: false,
            success: function(json) {
                if(json) {
                    ratings['BOJ'] = json['count'];
                    setHtml('BOJ');
                }
                else {
                    setHtmlWithoutColor('BOJ');
                }
            },
            error: function() {
                setHtmlWithoutColor('BOJ');
            }
        });
    }

    function getSolvedacInfo() {
        handles['solved'] = handles['BOJ'];
        $.ajax({
            type: 'GET',
            url: 'https://proxy.jeoungh-nah.workers.dev/https://solved.ac/api/v3/user/show?handle='+handles['solved'],
            dataType: 'json',
            timeout: 10000,
            cache: false,
            success: function(json) {
                if(json) {
                    ratings['solved'] = json['tier'];
                    ratings['solved_ac_rating'] = json['rating'];
                    ratings['solved_ranking'] = json['rank'];
                    setHtml('solved');
                }
                else {
                    setHtmlWithoutColor('solved');
                }
            },
            error: function() {
                setHtmlWithoutColor('solved');
            }
        });
    }

    function getAtCoderInfo() {
        $.ajax({
            type: 'GET',
            url: 'https://kyopro-ratings.jp1.su8.run/json?atcoder='+handles['atcoder'],
            dataType: 'json',
            timeout: 10000,
            cache: false,
            success: function(json) {
                if(json['atcoder']) {
                    ratings['atcoder'] = json['atcoder']['rating'];
                    setHtml('atcoder');
                }
                else {
                    setHtmlWithoutColor('atcoder');
                }
            },
            error: function() {
                setHtmlWithoutColor('atcoder');
            }
        });
    }

    function getCodeUpInfo() {
        $.ajax({
            type: 'GET',
            url: 'https://proxy.jeoungh-nah.workers.dev/https://codeup.kr/userinfo.php?user='+handles['codeup'],
            timeout: 10000,
            cache: false,
            success: function(html) {
                if(html) {
                    ratings['codeup'] = parseInt(html.split("jresult=4'>")[1].split("</a>")[0]);
                    let tmp = html.split('위</td>')[1].split("\r\n\t");
                    ratings['codeup_ranking'] = parseInt(tmp[tmp.length-1]);
                    setHtml('codeup');
                }
                else {
                    setHtmlWithoutColor('codeup');
                }
            },
            error: function() {
                setHtmlWithoutColor('codeup');
            }
        });
    }

    function makeProfileList(){
        let inner = "";
        if(handles['BOJ'] !== 'None'){
            inner += `<li>BOJ: <a id="BOJ" target="_blank" style="text-decoration:none;font-weight:bold;">loading</a></li>\n`;
            inner += `<li>solvedac: <a id="solved" target="_blank" style="text-decoration:none;font-weight:bold;">loading</a></li>`;
        }
        if(handles['codeforces'] !== 'None'){
            inner += `<li>Codeforces: <a id="codeforces" target="_blank" style="text-decoration:none;font-weight:bold;">loading</a> / <a id="mx_codeforces" target="_blank" style="text-decoration:none;font-weight:bold;">loading</a></li>`;
        }
        if(handles['atcoder'] !== 'None'){
            inner += `<li>AtCoder: <a id="atcoder" target="_blank" style="text-decoration:none;font-weight:bold;">loading</a></li>`;
        }
        if(handles['codeup'] !== 'None'){
            inner += `<li>CodeUp: <a id="codeup" target="_blank" style="text-decoration:none;font-weight:bold;">loading</a></li>`;
        }

        let introduce_link = '{{ include.introduce | default: "None" }}';
        if(introduce_link !== 'None'){
            inner += `<li>Introduce: <a id="intro" href=${introduce_link} target="_blank" style="text-decoration:none;font-weight:bold;">Link</a></li>`;
        }

        if(handles['icpcid'] !== 'None'){
            const name = '{{ include.icpcid_name | default: "Link" }}';
            inner += `<li>ICPC ID: <a id="icpcid" href=https://icpc.global/ICPCID/${handles['icpcid']} target="_blank" style="text-decoration:none;font-weight:bold;">${name}</a></li>`;
        }

        if(handles['cphof'] !== 'None'){
            const name = '{{ include.cphof_name | default: "Link" }}';
            inner += `<li>Competitive Programming Hall of Fame: <a id="cphof" href=https://cphof.org/profile/${handles['cphof']} target="_blank" style="text-decoration:none;font-weight:bold;">${name}</a></li>`;
        }


        let ul = document.getElementById('profile-list');
        ul.innerHTML = inner;

        if(handles['BOJ'] !== 'None') getBOJInfo(), getSolvedacInfo();
        if(handles['codeforces'] !== 'None') getCodeforcesRating();
        if(handles['atcoder'] !== 'None') getAtCoderInfo();
        if(handles['codeup'] !== 'None') getCodeUpInfo();
    }

    makeProfileList();
</script>
