---
layout: page
type: about
---

<div class="cv-tab-container">
    <div id="home-btn" class="tabs on" onclick="openTab('home-view')">홈</div>
    <div id="experience-btn" class="tabs" onclick="openTab('experience-view')">이력</div>
    <div id="competition-btn" class="tabs" onclick="openTab('competition-view')">대회</div>
    <div id="author-btn" class="tabs" onclick="openTab('author-view')">출제</div>
    <div id="lecture-btn" class="tabs" onclick="openTab('lecture-view')">강의</div>
</div>

<div class="cv-tab-wrap">
    <div id="home-view" class="tab on">
        <h2>나정휘 (Jeounghui Nah)</h2>
        <ul>
            <li>(2024.10-) Quora 소프트웨어 엔지니어</li>
            <li>(2024.01-2024.02) 네이버 SW 개발 인턴</li>
            <li>(2021.03-2025.02) 숭실대학교 컴퓨터학부 졸업</li>
            <li>(2018.03-2021.02) 선린인터넷고등학교 소프트웨어과 졸업</li>
            <li>(2023-) 정보올림피아드위원회 출제자, 강사</li>
            <li>(2021-) 삼성전자 사내 임직원 알고리즘 교육 강사</li>
        </ul>
        <h2>연락처/프로필</h2>
        <ul>
            <li>Email: TODO</li>
            <li>Discord: <a href="https://discord.com/users/429261671769309185">jhnah917</a></li>
            <li>GitHub: <a href="https://github.com/justiceHui">JusticeHui</a></li>
            <li>Blog: <a href="https://justicehui.github.io/">justiceHui.github.io</a></li>
            <li>Linkedin: <a href="https://www.linkedin.com/in/jeounghui-nah/">jeounghui-nah</a></li>
        </ul>
        <h2>온라인 저지 프로필</h2>
        {% include judge_profile.html boj_id="jhnah917" codeforces_id="Justice_Hui" codeup_id="jhnah917" icpcid="E0RJ7B35QJIP" icpcid_name="Jeounghui Nah" cphof="codeforces:justice_hui" cphof_name="Jeounghui Nah" %}
        <h2>주요 블로그 포스팅</h2>
        <ul>
            <li><a href="https://justicehui.github.io/review/2024/03/30/naver-intern-review/">[현업] 네이버 Yorkie TF 인턴 생존기</a></li>
            <li><a href="https://justicehui.github.io/etc/2023/05/30/icpc-preparation/">[ICPC] ICPC 준비의 첫걸음 - 공부 방법과 대회 전략</a></li>
            <li><a href="https://justicehui.github.io/review/2022/11/20/icpc/">[ICPC] 2022 ICPC 후기</a></li>
            <li><a href="https://justicehui.github.io/review/2023/12/07/icpc/">[ICPC] 2023 ICPC Asia Seoul Regional Contest 후기</a></li>
            <li><a href="https://justicehui.github.io/review/2024/04/09/icpc-apac/">[ICPC] 2024 ICPC Asia Pacific Championship 후기</a></li>
            <li><a href="https://justicehui.github.io/review/2023/05/21/scon/">[대회 운영] 2023 SCON 후기 - 모두가 즐거운 대회를 만드는 방법</a></li>
            <li><a href="https://justicehui.github.io/review/2024/12/28/job/">[기타] 2023-2024 취준 후기</a></li>
        </ul>
    </div>

    <div id="experience-view" class="tab">
        <h2>경력</h2>
        <ul>
            <li>
                (2024.10-현재) <b><a href="https://www.quora.com/about">Quora</a></b> 소프트웨어 엔지니어
                <ul style="color:#909090">
                    <li>Core Infrastructure 팀에서 근무</li>
                </ul>
            </li>
            <li>
                (2024.01-2024.02) <b><a href="https://www.navercorp.com/">네이버</a></b> SW 개발 인턴
                <ul style="color:#909090">
                    <li>실시간 협업을 위한 CRDT 기반 문서 저장 플랫폼 <a href="https://github.com/yorkie-team">Yorkie</a> 개발</li>
                    <li>Lamport timestamp 기반의 동시 편집 지원 해시 테이블 설계 및 구현</li>
                    <li>트리 동시 편집 상황을 테스트하기 위한 테스트 프레임워크 설계 및 테스트 코드 작성</li>
                    <li>가비지 컬렉터 알고리즘 시간 복잡도 $O(2^n) \rightarrow O(n)$ 개선</li>
                </ul>
            </li>
            <li>
                (2023.01-현재) <b><a href="https://koi.or.kr/">정보올림피아드위원회</a></b> 코치
                <ul style="color:#909090">
                    <li>한국 정보 올림피아드 문제 출제/검수</li>
                    <li>국제 정보 올림피아드 계절학교 면접관/강사/코치</li>
                </ul>
            </li>
            <li>
                (2021.03-현재) <b><a href="https://www.samsung.com/sec/about-us/company-info/">삼성전자</a></b> 사내 알고리즘 교육 코치
                <ul style="color:#909090">
                    <li>임직원 대상 알고리즘 강의 실습 문제 준비 및 해설 진행</li>
                </ul>
            </li>
            <li>
                (2021.04-2021.04) <b><a href="https://www.ssafy.com/">SSAFY(삼성 청년 SW 아카데미)</a></b> 알고리즘 특강 강사
                <ul style="color:#909090">
                    <li>알고리즘 강의 및 연습 문제 해설 진행</li>
                </ul>
            </li>
        </ul>
        <h2>학력</h2>
        <ul>
            <li>
                (2021.03-2025.02) 숭실대학교 컴퓨터학부 졸업
                <ul>
                    <li>(2022-2023) 컴퓨터학부 문제해결 소모임 SCCC 회장</li>
                    <li>(2021.03-2021.08) 기하계산연구실 학부연구생</li>
                </ul>
            </li>
            <li>(2018.03-2021.02) 선린인터넷고등학교 소프트웨어과 졸업</li>
        </ul>
        <h2>대회 참가 및 수상</h2>
        <ul>
            <li>
                국제 대학생 프로그래밍 경시대회(ICPC)
                <ul>
                    <li><b>2024 ICPC World Finals</b> High Honors</li>
                    <li><b>2023 ICPC World Finals</b> Honorable Mention</li>
                    <li><b>2024 ICPC Asia Pacific Championship</b> 은상(5등)</li>
                    <li><b>2023 ICPC Asia Seoul Regional Contest</b> 은상(5등)</li>
                    <li><b>2022 ICPC Asia Seoul Regional Contest</b> 은상(5등)</li>
                </ul>
            </li>
            <li>
                기업 대회
                <ul>
                    <li><b>2024 삼성전자 대학생 프로그래밍 경진대회(SCPC)</b> 5등상</li>
                    <li><b>2022 현대모비스 알고리즘 경진대회</b> 학생부 우수상</li>
                    <li><b>2021 현대모비스 알고리즘 경진대회</b> 5등상</li>
                </ul>
            </li>
            <li>
                한국정보올림피아드(KOI)
                <ul>
                    <li><b>2020 한국 정보 올림피아드 1차 대회</b> 고등부 일반고부문 금상, 전체부문 은상</li>
                    <li><b>2019 한국 정보 올림피아드 2차 대회</b> 고등부 동상</li>
                </ul>
            </li>
            <li onclick="openTab('competition-view')">(전체 보기)</li>
        </ul>
        <h2>대회 출제 및 운영</h2>
        <ul>
            <li><b>2023, 2024 한국 정보 올림피아드(KOI)</b> 출제/검수</li>
            <li><b>2023, 2024 넥슨 청소년 프로그래밍 챌린지(NYPC)</b> 출제/검수</li>
            <li><b>2024 LG 대학생 프로그래밍 대회(LGCPC)</b> 출제/검수</li>
            <li onclick="openTab('author-view')">(전체 보기)</li>
        </ul>
    </div>

    <div id="competition-view" class="tab">
        <h2 style="text-align:center;">국제 대학생 프로그래밍 경시대회(ICPC)</h2>
        {% include cv/competition.html competition=site.data.cv.competition.icpc %}
        <h2 style="text-align:center;">기업 주최 대회</h2>
        {% include cv/competition.html competition=site.data.cv.competition.company %}
        <h2 style="text-align:center;">전국 대학생 프로그래밍 대회 동아리 연합 대회(UCPC)</h2>
        {% include cv/competition.html competition=site.data.cv.competition.ucpc %}
        <h2 style="text-align:center;">정보 올림피아드</h2>
        {% include cv/competition.html competition=site.data.cv.competition.olympiad %}
        <details>
            <summary>전체 보기 (펼치기/닫기)</summary>
            <h2 style="text-align:center;">기타 대회 참가</h2>
            {% include cv/competition.html competition=site.data.cv.competition.misc %}
        </details>
    </div>

    <div id="author-view" class="tab">
        <h2 style="text-align:center;">한국 정보 올림피아드</h2>
        {% include cv/author.html problems=site.data.cv.author.olympiad %}
        <h2 style="text-align:center;">기업 주최 대회</h2>
        {% include cv/author.html problems=site.data.cv.author.company %}
        <h2 style="text-align:center;">UCPC / BOJ 송년&신년 대회</h2>
        {% include cv/author.html problems=site.data.cv.author.ucpc %}
        <h2 style="text-align:center;">학교 교내 대회</h2>
        {% include cv/author.html problems=site.data.cv.author.school %}
        <h2 style="text-align:center;">기타 대회 운영 기록</h2>
        <details>
            <summary>전체 보기 (펼치기/닫기)</summary>
            <ul>
                {% for item in site.data.cv.contest %}
                <li>
                    {% if item.important %} <b> {% endif %}
                    ({{ item.date }}) {{ item.name }} {{ item.role }} ({% if item.link %}<a href="{{ item.link }}">{% endif %}{{ item.site }}{% if item.link %}</a>{% endif %})
                    {% if item.important %} </b> {% endif %}
                </li>
                {% endfor %}
            </ul>
        </details>
    </div>

    <div id="lecture-view" class="tab">
        <h2>자료</h2>
        <ul>
            <li><a href="https://github.com/justiceHui/SSU-SCCC-Study">justiceHui/SSU-SCCC-Study</a>: 숭실대학교 컴퓨터학부 문제해결 소모임 SCCC 강의 자료</li>
            <li><a href="https://github.com/justiceHui/Sunrin-SHARC">justiceHui/Sunrin-SHARC</a>: 선린인터넷고등학교 정보올림피아드반 강의 자료</li>
            <li><a href="https://github.com/justiceHui/Unknown-To-Wellknown">justiceHui/Unknown-To-Wellknown</a>: 지적 유희를 위한 고인물 테크닉 모음집</li>
            <li><a href="https://github.com/justiceHui/icpc-teamnote">justiceHui/icpc-teamnote</a>: ICPC 팀노트</li>
            <li><a href="https://github.com/justiceHui/icpc-teamnote-for-newbie">justiceHui/icpc-teamnote-for-newbie</a>: 초보자를 위한 ICPC 팀노트</li>
        </ul>
        <h2>정보올림피아드위원회</h2>
        {% include cv/lecture.html list=site.data.cv.lecture.olympiad %}
        <h2>삼성전자</h2>
        {% include cv/lecture.html list=site.data.cv.lecture.samsung %}
        <h2>강연</h2>
        {% include cv/lecture.html list=site.data.cv.lecture.talk %}
        <h2>기타</h2>
        {% include cv/lecture.html list=site.data.cv.lecture.misc %}
        <details>
            <summary><h2>숭실대학교 컴퓨터학부 문제해결 소모임 SCCC</h2> (250시간, 펼치기/닫기)</summary>
            {% include cv/lecture.html list=site.data.cv.lecture.sccc %}
        </details>
        <details>
            <summary><h2>선린인터넷고등학교 정보올림피아드반</h2> (230시간, 펼치기/닫기)</summary>
            {% include cv/lecture.html list=site.data.cv.lecture.sharc %}
        </details>
        <details>
            <summary><h2>고등학교 교내 활동</h2> (펼치기/닫기)</summary>
            {% include cv/lecture.html list=site.data.cv.lecture.high %}
        </details>
    </div>
</div>

<style>
    .tab{display:none}
    .tab.on{display:block}
    .cv-tab-container{display:flex;justify-content:center;gap:20px;margin-top:50px;font-size:18px}
    .tabs{padding:10px 20px;border-radius:50px;cursor:pointer;background:#f2f2f2;transition:all .3s}
    .tabs:hover{padding:10px 30px}
    .tabs.on{color:#fff;background:#111}

    .mail-address:after{
        content:attr(data-name) "@" attr(data-domain) "." attr(data-tld);
        text-decoration: underline
    }
</style>

<script>
    function openTab(tabName){
        document.querySelectorAll('.tab, .tabs').forEach(function(el) {
            el.classList.remove('on');
        });
        document.getElementById(tabName).classList.add('on');
        document.querySelector('.tabs[onclick="openTab(\'' + tabName + '\')"]').classList.add('on');
    }
</script>
